.signlog-wrap {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.signlog-label {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: auto;
    text-align: center;
    writing-mode: vertical-rl;
    vertical-align: middle;
    text-orientation: upright;
    font-size: 25px;
    font-weight: bolder;
    color: black;
    background-color: #03c75b;
    border-radius: 15px 0px 0px 15px;
    min-height: 255px;
    width: 70px;
    padding: 25px;
}

.signlog-form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    background-color: rgb(60, 60, 60);
    border-radius: 0px 15px 15px 0px;
    min-height: 255px;
    width: 350px;
    padding: 25px;

}

.signlog-form input {
    color: whitesmoke;
    background-color: rgb(100, 100, 100);
    border: none;
    border-bottom: 1px solid black;
    margin: 5px;
    width: 220px;
    padding: 10px;
}

.signlog-form input:focus {
    border-color: #03c75b;
    outline: 0;
}

.signlog-form input::placeholder {
    color: #03c75b;
    margin-top: 12px;
}

.signlog-btn {

    color: black;
    background-color: rgb(100, 100, 100);
    padding: 4%;
    margin-top: 30px;
    border: inset #03c75b;
    border-radius: 5px;
}

.signlog-btn:hover {
    text-transform: uppercase;
    background-color: #03c75b;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
}