body {
    margin: 0;
}

.topnav {
    display: flex;
    flex-direction: row;
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #03c75b;
    color: white;
}

.left, .right {
    display: flex;
    flex-direction: row;
}

.right {
    margin-left: auto;
}

.left {
    margin-right: auto;
}